<!-- Topbar Start -->

<!-- Topbar End -->


<!-- Menubar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Daily<span
                    class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="admin_home" class="nav-item nav-link">Home</a>

                <!-- <a href="edit_news.html" class="nav-item nav-link active">Edit Newses</a> -->
                <div class="dropdown">
                    <a class="nav-item"
                        style="display: block; color: aliceblue; text-transform: uppercase; font-weight: 500; text-decoration: none; padding: 20px 10px 20px 10px;">Edit
                        Newses
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="breaking_news">Breaking News</a>
                        <a href="latest_news">Latest News</a>
                        <a href="weeks_news">Weeks News</a>
                        <a href="#">All News</a>
                    </div>
                </div>
                <a href="/see_languages" class="nav-item nav-link">Languages</a>
                <a href="/edit_contact" class="nav-item nav-link active">Update Contact</a>
            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                <input type="text" class="form-control border-0" placeholder="Keyword">
                <div class="input-group-append">
                    <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Menubar End -->



<div class="container-fluid  px-sm-3 px-md-5"
    style="background: #111111; margin-top: 20px; padding-top: 10px; padding-bottom: 10px;">
    <h5 class="m-0 text-center" style="color: #FFCC00;">Edit Contact Details</h5>

</div>



<div class="container-fluid bg-dark px-sm-3 px-md-5 mt-1">
    <% if(address.length>0){%>
        <%address.forEach(address=>{ %>
            <div class="row py-4">
                <div class="col-xl-6 col-md-6 ">
                    <h5 class="mb-4 text-white text-uppercase font-weight-bold">Get In Touch</h5>

                    <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>
                        <%= address.road_address %>, <%= address.region %>, <%= address.country %>
                    </p>
                    <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>
                        <%= address.phone%>
                    </p>
                    <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>
                        <%= address.email %>
                    </p>


                </div>
                <div class="col-xl-6 col-md-6 ">
                    <div class="update_contact_field plr50">
                        <h5 class="mb-4 text-white text-uppercase font-weight-bold">Update Contact Field</h5>
                        <form action="/update_address/<%= address.id %>" method="post">
                            <input class="font-weight-medium"
                                style="width: 75%;  padding: 0px 50px 0px 50px; margin-bottom: 20px;" type="text" value="<%= address.road_address %>"
                                name="road_address" placeholder="">
                            <input class="font-weight-medium"
                                style="width:75%;   padding: 0px 50px 0px 50px; margin-bottom: 20px;" type="text" value="<%= address.region %>"
                                name="region" placeholder="Region">
                            <input class="font-weight-medium"
                                style="width: 50%;   padding: 0px 50px 0px 50px; margin-bottom: 20px;" type="text" value="<%= address.country %>"
                                name="country" placeholder="Country">

                            <input class="font-weight-medium"
                                style="width: 50%;   padding: 0px 50px 0px 50px; margin-bottom: 20px;" type="text" value="<%= address.phone %>"
                                name="phone" placeholder="Phone">
                            <input class="font-weight-medium"
                                style="width: 50%;   padding: 0px 50px 0px 50px; margin-bottom: 20px;" type="email" value="<%= address.email %>"
                                name="email" placeholder="Email">

                            <input type="hidden" id="<%= address.id %>">
                            <input type="submit" class="btn btn-primary btn-sm ml-5" value="Update">



                        </form>

                    </div>
                </div>
            </div>
            <%})%>
                <% } else { %>;
                    <p> Address Rendering Error! </p>
                <%}%>

</div>














<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#">DailyNews</a>. &reg; All Rights Reserved.

</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="assets/lib/easing/easing.min.js"></script>
<script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="assets/js/main.js"></script>